/* Reset básico */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #ffffff;
  }
  
  
  
  /* Reset e base responsiva */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}